.body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #849d8f;
}

.site-navigation,
.site-navigation-catalog {
  list-style: none;
}

.site-navigation a,
.site-navigation-catalog a {
  color: #ffffff;
}

.site-navigation-catalog a:hover {
  background-color: #fbded7;
}

.site-navigation-catalog a:focus {
  background-color: #f6b5a5;
}

.site-navigation-current {
  background-color: #d07058;
}

.header-addition a {
  color: #ffffff;
  text-decoration: none;
}

.header-addition a:hover {
  color: #323232;
}

.button {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #e74a35;
  border: none;
  text-decoration: none;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.button:focus {
  background-color: rgba(0, 0, 0, 0.07);
}

.button:active {
  background-color: rgba(0, 0, 0, 0.07);
}

.gallery a {
  font-size: 32px;
  line-height: 44px;
}

.promo-list {
  list-style: none;
}

.promo-list h3 {
  font-size: 35px;
  line-height: 41px;
}

.promo-list p {
  font-size: 16px;
}

.promo-list a {}

.promo-list li:first-child {
  color: #ffffff;
  background-color: #93163e;
  background-image: url("../img/raspberry.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.promo-list li:last-child {
  color: #ffffff;
  background-color: #2e1002;
  background-image: url("../img/chocolate.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.populars-list,
.catalog-list {
  list-style: none;
}

.populars-list b,
.catalog-list b {
  font-size: 45px;
  line-height: 45px;
}

.populars-list span,
.catalog-list span {
  font-size: 30px;
  line-height: 45px;
}

.populars-list a,
.catalog-list a {
  color: #ffffff;
}

.features h2 {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.features-list {
  list-style: none;
  color: #323232;
}

.features {
  color: #323232;
  background-color: #edb789;
  background-image: url("../img/waffle.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.blog-news {
  color: #323232;
}

.blog-news a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.blog-news {
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/strawberry-back.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.subscription {
  color: #323232;
  background-color: #f8f7f4;
  background-image: url("../img/post-back.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.subscription input {
  font: inherit;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.subscription input:hover {
  font: inherit;
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.subscription input:focus {
  font: inherit;
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.subscription input:active {
  font: inherit;
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.contacts {
  background-color: #ffffff;
  background-image: url("../img/map.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.contacts-text {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  background-color: #ffffff;
}

.contacts-text b {
  font-size: 18px;
  line-height: 24px;
}

.contacts-text a {
  text-decoration: none;
}

.breadcrumbs,
.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
}

.catalog-list {
  list-style: none;
}

.pagination-list {
  list-style: none;
}

.footer-additional a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.footer-copyright-madeIn {
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright-madeIn a {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.modal {
  display: none;
}
