body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-color: #e74a35;
  -webkit-box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ca3824), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #ca3824, #f26843);
  background-image: -o-linear-gradient(bottom, #ca3824, #f26843);
  background-image: linear-gradient(to top, #ca3824, #f26843);
  border: none;
  text-decoration: none;
  min-width: 129px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}

.button:hover,
.button:focus {
  -webkit-box-shadow: 0px 1px 2px 0 #ac1000;
          box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843)), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2)));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843), -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-image: linear-gradient(to top, #e74a35, #f26843), linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  outline-color: #ffffff;
}

.button:active {
  -webkit-box-shadow: inset 0px 2px 2px 0 #942718;
          box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843)), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07)));
  background-image: -webkit-linear-gradient(top, #e74a35, #f26843), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(top, #e74a35, #f26843), -o-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(to bottom, #e74a35, #f26843), linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 9px;
  margin-bottom: 19px;
  position: relative;
  z-index: 1;
}

.main-header-logo {
  height: 64px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: transparent;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 9px;
  margin-top: 14px;
  padding: 0;
  list-style: none;
}

.site-navigation-level1 {
  position: relative;
  padding-bottom: 6px;
}

.site-navigation-link-level1 {
  display: block;
  padding: 7px 14px;
  text-align: center;
  color: #ffffff;
  border: none;
  text-decoration: none;
  border-radius: 15px;
}

.site-navigation-link-level1-wrap {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.site-navigation-link-level1-wrap:hover {
  border-bottom: none;
}

.site-navigation-link-level1:hover,
.site-navigation-link-level1:focus {
  color: #333333;
  background-color: #f7f6f3;
  font-weight: 700;
}

.site-navigation-link-level1:active {
  color: #323232;
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
          box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

.site-navigation-catalog {
  display: none;
  list-style: none;
  position: absolute;
  top: 38px;
  left: -7px;
  list-style: none;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  width: 143px;
  background-color: #f8f7f4;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
}

.site-navigation-level1:hover .site-navigation-link-level1 {
  color: #333333;
  background-color: #f7f6f3;
  font-weight: 700;
}

.site-navigation-level1:hover .site-navigation-catalog {
  display: block;
}

.site-navigation-link-level2 {
  display: block;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 15px;
  color: #323232;
  text-decoration: none;
}

li:last-child .site-navigation-link-level2 {
  padding-bottom: 15px;
}

.site-navigation-level2::after {
  content: "";
  position: absolute;
  top: 36px;
  left: 6px;
  width: 128px;
  height: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.site-navigation-level2 .site-navigation-link-level2 {
  padding-bottom: 14px;
  font-weight: 700;
  padding-top: 10px;
}

.site-navigation-link-level2:hover,
.site-navigation-link-level2:focus {
  background-color: #fbded7;
}

.site-navigation-link-level2:active {
  background-color: #f6b5a5;
}

.site-navigation-current {
  background-color: #d07058;
}

.site-navigation-current .site-navigation-link-level1-wrap {
  border-bottom: none;
}

.header-addition {
  padding-top: 13px;
  font-size: 0;
  text-align: right;
}

.header-addition-search {
  border: 0;
  border-radius: 20px;
  background-color: #9eb2a6;
  vertical-align: bottom;
  padding: 8px;
  margin: 0;
}

.header-addition-search-wrap {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 10px;
}

.header-addition-search:hover {
  background-color: #f8f7f4;
}

.header-addition-search:focus {
  outline-color: #ffffff;
}

.header-addition-search:hover~.modal-search,
.modal-search:hover,
.login-link:hover~.modal-login,
.modal-login:hover,
.header-cart-full:hover~.modal-basket,
.modal-basket:hover {
  display: block;
}

.header-addition-link {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 43px;
  padding-right: 18px;
  padding-top: 5px;
  padding-bottom: 6px;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 15px;
  background-color: #9eb2a6;
  position: relative;
}

.header-addition-button-color {
  fill: #ffffff;
}

.header-addition-link-svg {
  position: absolute;
  top: 6px;
  left: 15px;
}

.header-addition-contacts {
  position: absolute;
  right: 26px;
  z-index: 1;
}

.login-link-wrap {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 10px;
  z-index: 2;
}

.login-link:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.login-link:hover .header-addition-button-color,
.header-addition-search:hover .header-addition-button-color {
  fill: #323232;
}

.header-cart-empty::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 15px;
  width: 21px;
  height: 20px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-cart-full {
  color: #323232;
  background-color: #f8f7f4;
}

.header-cart-full::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 15px;
  width: 21px;
  height: 20px;
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-cart-full-wrap {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 2;
}

.header-work-time {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin: 0;
  padding: 0;
  padding-top: 17px;
}

.header-phone-number {
  font-size: 22px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  padding-top: 4px;
}

.gallery-wrapper {
  margin: 0 auto;
  margin-bottom: -723px;
  padding-top: 393px;
  height: 881px;
  position: relative;
  bottom: 96px;
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  -o-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.gallery-section {
  text-align: center;
  color: #ffffff;
}

.gallery-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery {
  display: none;
}

.gallery-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 31px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.gallery-button-get {
  font-size: 32px;
  line-height: 44px;
  border-radius: 30px;
  padding-left: 41px;
  padding-right: 41px;
}

.gallery-controls {
  position: absolute;
  top: 563px;
  font-size: 0;
}

.gallery-controls label {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.gallery-toggle1:checked~.gallery-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

.gallery-toggle2:checked~.gallery-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

.gallery-toggle3:checked~.gallery-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

.gallery-toggle1:checked~.gallery-wrapper .gallery-item1,
.gallery-toggle2:checked~.gallery-wrapper .gallery-item2,
.gallery-toggle3:checked~.gallery-wrapper .gallery-item3 {
  display: block;
}

.gallery-toggle1:checked~.gallery-wrapper label[for="product-1"],
.gallery-toggle2:checked~.gallery-wrapper label[for="product-2"],
.gallery-toggle3:checked~.gallery-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.promo {
  margin-bottom: 20px;
}

.promo-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.promo-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 560px;
  height: 229px;
  color: #ffffff;
  border-radius: 15px;
  background-position: 0 0;
  background-repeat: no-repeat;
  padding: 16px 19px;
  position: relative;
  padding-bottom: 75px;
  margin-bottom: 20px;
}

.promo-list-head {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.promo-list-text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  height: 86px;
  overflow: hidden;
}

.promo-item:first-child {
  background-color: #93163e;
  background-image: url("../img/raspberry.jpg");
}

.promo-item:last-child {
  background-color: #2e1002;
  background-image: url("../img/chocolate.jpg");
}

.promo-list-button {
  position: absolute;
  bottom: 26px;
  right: 23px;
}

.populars-list,
.catalog-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: flex-start ;
  list-style: none;
  text-align: center;
}

.populars-list-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.populars-list-item:hover::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -13px;
  width: 293px;
  height: calc(100% + 132px);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-list-item:hover::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -13px;
  width: 293px;
  height: calc(100% + 132px);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-list-item:hover,
.popular-list-item:hover {
  position: relative;
  z-index: 1;
}

.catalog-list-item:hover .catalog-list-button,
.populars-list-item:hover .catalog-list-button {
  display: block;
}

.catalog-list-button {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 200px;
  bottom: -104px;
  padding-left: 15px;
  padding-right: 15px;
}

.catalog-item {
  width: 267px;
  position: relative;
  margin-bottom: 90px;
  margin-right: 26px;
}

.catalog-item:nth-child(4n){
    margin-right: 0px;
}

.catalog-item-name {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.catalog-item-text-wrap {
  position: absolute;
}

.catalog-item-text {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0;
  margin: 0 6px;
}

.catalog-item-text:hover,
.catalog-item-text:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-item-price,
.populars-list-price {
  margin: 0;
  padding: 0;
}

.catalog-item-price {
  font-size: 30px;
  line-height: 45px;
  position: absolute;
  top: 208px;
}

.populars-list-price {
  font-size: 45px;
  line-height: 45px;
}

.catalog-item-image {
  border-radius: 50%;
}

.features {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 24px;
  color: #323232;
  background-color: #e6d8b3;
  background-image: url("../img/waffle.png");
  background-position: 0 0;
  background-repeat: repeat;
  min-height: 306px;
  border-radius: 15px;
  margin-bottom: 40px;
}

.features-header {
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  word-spacing: 1px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature-item-text {
  width: 540px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding-top: 13px;
  padding-left: 56px;
  padding-bottom: 10px;
  position: relative;
}

.feature-item-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
}

.feature-item-ikonIceCream::before {
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-item-ikonTemperature {
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-item-ikonNatural {
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-item-ikonCow {
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 39px;
}

.blog-news {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  padding-top: 23px;
  padding-right: 254px;
  color: #323232;
  border-radius: 15px;
  width: 560px;
  min-height: 220px;
  background-color: #ffffff;
  background-image: url("../img/strawberry-back.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.blog-news-title,
.blog-news-text,
.blog-news-link {
  margin: 0;
  padding: 0;
}

.blog-news-text {
  margin-bottom: 4px;
}

.blog-news-link {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.subscription {
  min-height: 220px;
  color: #323232;
  background-color: #f8f7f4;
  background-image: url("../img/bg-post.svg");
  background-position: 0 0;
  background-repeat: repeat-y;
  border-radius: 15px;
  width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscription-wrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f8f7f4;
  width: 549px;
  margin: 5px;
  padding: 29px 21px;
  border-radius: 15px;
}

.subscription-text {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  color: #5a5a5a;
  min-height: 85px;
}

.subscription-form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.subscription-label-input {
  margin: 0;
  padding: 0;
}

.subscription-input {
  width: 368px;
  height: 44px;
}

.subscription-button {
  padding-right: 16px;
  margin-bottom: 3px;
}

.contacts {
  background-color: #849d8f;
  margin-left: -27px;
  width: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 430px;
  position: relative;
}

.contacts-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  width: 302px;
  background-color: #ffffff;
  border-radius: 20px;
  position: absolute;
  top: calc(50% + -3px);
  right: 27px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 30px 25px;
}

.contacts-text-address {
  display: block;
  padding: 0;
  margin: 0;
}

.contacts-text-address-bold {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 18px;
  display: block;
}

.contacts-text-phone-bold {
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 24px;
  display: block;
}

.contacts-button {
  text-decoration: none;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 13px;
  margin-top: 25px;
}

.contacts-iframe {
  width: 1200px;
  min-height: 430px;
  padding: 0;
  margin: 0;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filters {
  margin-bottom: 39px;
}

.filter-line-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 15px;
}

.filter-block {
  padding: 0;
  margin: 0;
  border: none;
  position: relative;
}

.filter-block-name {
  margin-bottom: 6px;
  margin-left: 13px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.filter-block-list {
  padding: 0;
  margin: 0;
  margin-right: 14px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  background-color: #a9bab0;
}

.filter-block-range-wrap {
  cursor: pointer;
}

.filter-block-range {
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 37px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.8;
  border: none;
  -webkit-appearance: none;
}

.filter-block-range:hover {
  color: #323232;
  background-color: #ffffff;
}

.filter-range-icon-color {
  fill: #ffffff;
  opacity: 0.8;
}

.filter-block-range-wrap:hover .filter-range-icon-color {
  fill: #323232;
}

.filter-range-item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.filter-range-icon {
  position: absolute;
  top: 35px;
  left: 168px;
}

.filter-range-icon-color {}

.filter-block-price {
  padding: 6px 21px;
  padding-top: 7px;
  position: relative;
}

.filter-price {
  width: 20px;
  height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 10px;
  border: 8px solid #f8f7f4;
  border-radius: 50%;
  background-color: #a9bab0;
}

.filter-price-min {
  left: 34px;
}

.filter-price-max {
  left: 133px;
}

.filter-price:hover {
  width: 22px;
  height: 22px;
  border: 9px solid #f8f7f4;
  cursor: pointer;
}

.filter-filler-list {
  padding-left: 15px;
}

.filter-fat-content-list {
  padding-left: 16px;
}

.filter-option {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.filter-checkbox-text {
  padding-right: 22px;
}

.filter-radio-text {
  padding-right: 18px;
}

.filter-option-text {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.8;
}

.filter-option-text:hover,
.filter-option-text:focus {
  opacity: 1;
}

.filter-input-checkbox+.filter-option-text::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -33px;
  width: 20px;
  height: 20px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.filter-input-checkbox:checked+.filter-option-text::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-radio+.filter-option-text::before {
  content: "";
  position: absolute;
  left: -33px;
  top: -2px;
  width: 16px;
  height: 16px;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.filter-input-radio:checked+.filter-option-text::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -26px;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 50%;
}

.filter-input:disabled+label,
.filter-input:checked:disabled+label,
.filter-input:disabled:hover+label,
.filter-input:disabled:focus+label {
  color: #ffffff;
  opacity: 0.2;
  pointer-events: none;
}

.filter-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #a9bab0;
  border: 2px solid #ffffff;
  border-radius: 20px;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 27px;
  padding-right: 29px;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;
  background-color: #ffffff;
}

.filter-button:active {
  color: #323232;
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
          box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs-item {
  padding-right: 21px;
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "»";
  position: absolute;
  top: 0px;
  right: 10px;
  width: 5px;
  height: 5px;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  padding-top: 1px;
  margin-bottom: 25px;
}

.pagination-list {
  list-style: none;
  margin: 0;
  margin-top: 42px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pagination-item {
  display: inline-block;
  vertical-align: middle;
  padding: 1px 8px;
  margin-left: 5px;
  position: relative;
  border-radius: 50%;
  color: #ffffff;
}

.pagination-item:hover,
.pagination-item:focus {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item-current,
.pagination-item:active {
  color: #323232;
  background-color: #ffffff;
}

.pagination-item-current {
  pointer-events: none;
}

.pagination-item:first-child {
  width: 8px;
}

.pagination-item:last-child {
  width: 8px;
  margin-right: -7px;
}

.pagination-item-link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 18px;
}

.pagination-item-link-last::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.pagination-item-link-first::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pagination-item-inactiv {
  opacity: 0.5;
  pointer-events: none;
}

.main-footer {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-inner {
  margin-top: 50px;
}

.footer-social {
  width: 195px;
  padding-top: 17px;
}

.social-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 38px;
  margin-right: 7px;
  position: relative;
  border: 4px solid #e9e9e9;
  border-radius: 50%;
  opacity: 0.8;
}

.social-button-color {
  fill: #ffffff;
}

.social-button:hover {
  opacity: 1;
}

.social-button:active .social-button-color {
  fill: #e9e9e9;
}

.social-button-img {
  position: absolute;
  top: -1px;
  left: -1px;
}

.footer-additional {
  width: 335px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -20px;
}

.footer-additional-aboutUs {
  width: 135px;
}

.footer-additional-docs {
  width: 170px;
}

.footer-additional-aboutUs .footer-additional-link {
  margin-left: 23px;
}

.footer-additional-link {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-additional-link:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.footer-additional-link:first-child {
  padding-top: 16px;
  position: relative;
}

.footer-additional-link:not(:first-child) {
  padding-top: 4px;
}

.footer-additional-aboutUs .footer-additional-link:first-child::before {
  content: "";
  position: absolute;
  top: 18px;
  left: -22px;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-copyright {
  margin: 0;
  padding: 0;
  width: 188px;
}

.footer-copyright-wrapper {
  margin: 0;
  padding: 0;
}

.footer-copyright-madeIn {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  color: #fefefe;
}

.footer-copyright-madeIn-link {
  font-size: 12px;
  line-height: 16px;
  color: #fefefe;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-copyright-madeIn-link:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

@-webkit-keyframes disappearance {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }

  20% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0.8;
  }

  40% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 0.6;
  }

  60% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.4;
  }

  80% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.1;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes disappearance {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }

  20% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0.8;
  }

  40% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    opacity: 0.6;
  }

  60% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.4;
  }

  80% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.1;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.modal {
  display: none;
  color: #323232;
  font-size: 13px;
  line-height: 24px;
}

.modal-login {
  position: absolute;
  top: 21px;
  right: 0px;
  padding-top: 15px;
  background-color: transparent;
}

.modal-login-wrap {
  width: 300px;
  padding: 50px 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 277px;
  padding-left: 20px;
  padding-right: 17px;
  padding-top: 20px;
  padding-bottom: 22px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.login-form-input {
  width: 241px;
  height: 44px;
  margin-bottom: 20px;
}

.login-elements-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.login-restores-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-button {
  min-width: 0px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 8px;
}

.restore {
  margin: 0;
  padding: 0;
  padding-left: 3px;
  color: #323232;
  text-decoration: underline;
  line-height: 22px;
}

.restore:hover,
.restore:focus {}

.modal-feedback {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 10;
}

.modal-feedback-wrap {
  background-color: #f8f7f4;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 478px;
  padding: 20px 24px;
  position: absolute;
  top: 100px;
  right: 505px;
}

.feedback-form-input {
  width: 267px;
  height: 44px;
  margin-bottom: 20px;
}

.feedback-button {
  margin-left: 300px;
  margin-top: 25px;
}

.feedback-form-textarea {
  width: 428px;
  resize: none;
}

.modal-search {
  position: absolute;
  top: 21px;
  right: 0px;
  padding-top: 15px;
  background-color: transparent;
}

.modal-search-wrap {
  background-color: #f8f7f4;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 341px;
  padding: 20px 15px;
}

.search-form-wrap,
.login-form-wrap,
.feedback-form-wrap {
  margin: 0;
  padding: 0;
}

.search-form-input {
  width: 311px;
  height: 44px;
}

.modal-basket {
  position: absolute;
  top: 21px;
  right: 0px;
  padding-top: 15px;
  background-color: transparent;
}

.modal-basket-wrap {
  background-color: #f8f7f4;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  line-height: 16px;
  text-align: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 540px;
  padding: 0px 15px;
  padding-top: 21px;
  padding-bottom: 19px;
}

.basket-table {
  margin-bottom: -8px;
  border-collapse: collapse;
}

.basket-item-delete {
  position: relative;
  width: 24px;
}

.basket-item-image {
  width: 33px;
  padding-top: 0px;
  padding-bottom: 17px;
}

.basket-item-img {
  border-radius: 50%;
}

.basket-item-name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  padding-left: 12px;
  padding-right: 10px;
  text-align: left;
  vertical-align: top;
  padding-top: 8px;
}

.basket-item-count {
  width: 51px;
  vertical-align: top;
  padding-top: 8px;
}

.basket-item-multiply {
  width: 8px;
  vertical-align: top;
  padding: 0;
  padding-top: 8px;
}

.basket-item-price {
  color: #999999;
  text-align: left;
  width: 57px;
  vertical-align: top;
  padding: 0;
  padding-top: 8px;
  padding-left: 3px;
}

.basket-item-cost {
  width: 67px;
  vertical-align: top;
  padding-top: 8px;
}

.modal-basket-sum {
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  margin-top: 11px;
  margin-bottom: 14px;
}

.modal-basket-button {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 13px;
}

.modal-caption {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
}

.basket-item-delete-button {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 11px;
  height: 11px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.basket-item-delete-button::before,
.basket-item-delete-button::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 14px;
  height: 1px;
  background-color: #323232;
}

.basket-item-delete-button::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.basket-item-delete-button::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-close {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 18px;
  height: 17px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -1px;
  width: 22px;
  height: 2px;
  background-color: #323232;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search-form-input,
.login-form-input,
.feedback-form-input,
.feedback-form-textarea,
.subscription-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  padding-left: 15px;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #323232;
}

.search-form-input:hover,
.login-form-input:hover,
.feedback-form-input:hover,
.feedback-form-textarea:hover,
.subscription-input:hover {
  -webkit-box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
          box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.search-form-input:focus,
.login-form-input:focus,
.feedback-form-input:focus,
.feedback-form-textarea:focus,
.subscription-input:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
          box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.search-form-input:active,
.login-form-input:active,
.feedback-form-input:active,
.feedback-form-textarea:active,
.subscription-input:active {
  -webkit-box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
          box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.search-form-input::-webkit-input-placeholder,
.login-form-input::-webkit-input-placeholder,
.feedback-form-input::-webkit-input-placeholder,
.feedback-form-textarea::-webkit-input-placeholder,
.subscription-input::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.search-form-input::-moz-placeholder,
.login-form-input::-moz-placeholder,
.feedback-form-input::-moz-placeholder,
.feedback-form-textarea::-moz-placeholder,
.subscription-input::-moz-placeholder {
  font-weight: 400;
  color: #999999;
}

.search-form-input:-ms-input-placeholder,
.login-form-input:-ms-input-placeholder,
.feedback-form-input:-ms-input-placeholder,
.feedback-form-textarea:-ms-input-placeholder,
.subscription-input:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.modal-error {
  -webkit-animation: disappearance 0.6s;
          animation: disappearance 0.6s;
}

.modal-show {
  display: block;
}
